.navbar {
    background-color: #ACC470;
}

.navbar .nav-link {
    color: black !important;
    text-align: right;
}

.navbar .nav-link:hover {
    color: white !important;
    font-weight: bold;
}

.navbar .navbar-toggler {
    border: none;
}

